body {
  padding: 0;
  margin: 0;
}


/* CONTAINER 1 */
main {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background: #F9FAFC;
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
}

  .navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chirpus {
    padding: 10px;
    margin-left: 100px;
    width: 175px;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 800;
    transition: 0.8s;
  }

  .chirpus:hover {
    color: rgba(207, 130, 213, 0.6);
  }

  ul {
    width: 100%;
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

    ul li {
      padding: 10px;
      margin: 0px 5px;
    }

    ul li a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 800;
      color: #69696A;
    }

    ul li a:hover {
      color: #000;
    }

/* BUTTON DESIGN */
button {
  outline: none;
  border: 1px solid #F9FAFC;
  border-radius: 25px;
  background: #000;
  padding: 10px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  transition: 0.8s;
  cursor: pointer;
}

  /* BUTTON 1 */
  .btn1 {
    width: 150px;
    margin-right: 100px;
    text-decoration: none;
    color: #F9FAFC;
    background: #000;
  }

  .btn1:hover {
    color: #F9FAFC;
    background: rgba(247, 193, 162, 0.7);
  }



/* CONTAINER 2 */
.mainbox {
  width: 100%;
  height: 90%;
  display: flex;
}

  /* CONTAINER 2A */
  .textbox {
    position: relative;
    width: 550px;
    margin: 125px 0px 0px 125px;
  }

    h1 {
      width: 250px;
      font-size: 35px;
    }

    .vl {
      position: absolute;
      width: 3px;
      height: 112px;
      background: #D3D3D3;
    }

    p {
      width: 490px;
      margin-left: 25px;
      color: #69696A;
      font-weight: 800;
    }

  /* CONTAINER 2B */
  .graphicbox {
    position: relative;
    margin: 175px 0px 0px 150px;
    width: 500px;
    height: 425px;
  }

    .pink {
      position: absolute;
      background-color: rgba(247, 136, 167, 0.6);
      border-radius: 50%;
      width: 350px;
      height: 350px;
    }

    .orange {
      position: absolute;
      right: 50px;
      bottom: 0px;
      background-color: rgba(247, 193, 162, 0.7);
      border-radius: 50%;
      width: 225px;
      height: 225px;
    }

    .purple {
      position: absolute;
      top: 75px;
      right: 40px;
      background-color: rgba(207, 130, 213, 0.6);
      border-radius: 50%;
      width: 150px;
      height: 150px;
    }



/* CONTAINER 3 */
.buttonbox {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

  /* BUTTON 2 */
  .btn2 {
    width: 125px;
    text-decoration: none;
    color: #F9FAFC;
    background: #000;
  }

  .btn2:hover {
    color: #F9FAFC;
    background: rgba(247, 136, 167, 0.6);
  }
