body {
  margin: 0;
  padding: 0;
}

  main {
    font-family: 'Open Sans';
    background: #F9FAFC
  }

    nav {
      display: flex;
      flex-direction: column;
    }

      .chirpus {
        margin: 30px 15px 0px 15px;
        font-size: 20px;
        font-weight: 800;
      }

      ul {
        margin: 10px 15px;
        padding: 0;
        list-style: none;
      }

        ul li {
          padding: 5px 0px;
          display: flex;
        }

        ul li a {
          text-decoration: none;
          color: #69696A;
          font-size: 18px;
        }

      button {
        width: 300px;
        height: 40px;
        margin: 0px 15px 15px 10px;
        font-size: 15px;
        font-weight: 500;
        background: #000;
        color: #F9FAFC;
        border-radius: 25px;
        outline: none;
      }



    .mainbox {
      position: relative;
    }

      .textbox {
        margin: 0px 15px 20px 15px;
        padding: 0;
      }

        h1 {
          margin: 30px 0px 0px 0px;
          font-size: 35px;
          font-weight: 800;
        }

        .vl {
          position: absolute;
          bottom: 0px;
          width: 3px;
          height: 168px;
          background: #D2D2D2;
        }

        p {
          padding-left: 20px;
          font-size: 14px;
          color: #69696A;
        }



/* Screen Size 760px + */
@media only screen and (min-width:768px) {

  main {
    width: 100%;
    height: 100vh;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding-top: 10px;
  }

    .chirpus {
      margin: 0px 0px 0px 20px;
    }

    ul {
      margin-left: 150px;
      display: flex;
    }

    ul li {
      padding: 0 10px;
    }

    .btn1 {
      margin: 0px 20px 0px 0px;
      width: 125px;
    }



    .mainbox {
      width: 100%;
      height: 300px;
      display: flex;
    }

      .textbox {
        position: relative;
        width: 400px;
        margin-left: 20px;
      }

        .vl {
          position: absolute;
          height: 125px;
          top: 95px;
        }



    .graphicbox {
      position: relative;
      width: 400px;
      margin-right: 20px;
    }

      .pink {
        position: absolute;
        width: 250px;
        height: 250px;
        top: 10px;
        border-radius: 50%;
        background-color: rgba(247, 136, 167, 0.6);
      }

      .orange {
        position: absolute;
        width: 175px;
        height: 175px;
        bottom: 0px;
        right: 25px;
        border-radius: 50%;
        background-color: rgba(247, 193, 162, 0.7);
      }

      .purple {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 45px;
        right: 50px;
        border-radius: 50%;
        background-color: rgba(207, 130, 213, 0.6);
      }



    .buttonbox {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 25px;
    }

      .btn2 {
        width: 200px;
      }
}




/* Screen Size 1200px + */
@media only screen and (min-width: 1200px) {

  main {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  nav {
    height: 100px;
  }

    .chirpus {
      font-size: 25px;
      margin-left: 50px;
      transition: color 0.8s;
    }

    .chirpus:hover {
      color: rgba(207, 130, 213, 0.6);
      cursor: default;
    }

    ul {
      margin-left: 675px;
    }

      ul li a {
        font-size: 22px;
        transition: color 0.8s;
      }

      ul li a:hover {
        color: #000;
      }

    .btn1 {
      margin-right: 60px;
      height: 50px;
      font-size: 20px;
      font-weight: normal;
      transition: color 0.8s;
    }

    .btn1:hover {
      color: #F9FAFC;
      background: rgba(247, 193, 162, 0.7);
      border: 1px rgba(247, 193, 162, 0.7);
      cursor: pointer;
    }



  .mainbox {
    height: 600px;
  }

    .textbox {
      position: relative;
      margin: 100px 0px 0px 50px;
      width: 625px;
    }

      h1 {
        font-size: 40px;
      }

      .vl {
        position: absolute;
        height: 130px;
        top: 110px;
      }

      p {
        font-size: 20px;
      }



  .graphicbox {
    margin: 100px 50px 0px 175px;
    width: 500px;
  }

    .pink {
      position: absolute;
      width: 350px;
      height: 350px;
      background-color: rgba(247, 136, 167, 0.6);
      border-radius: 50%;
      top: 50px;
      left: 0;
    }

    .orange {
      position: absolute;
      width: 225px;
      height: 225px;
      background-color: rgba(247, 193, 162, 0.7);
      border-radius: 50%;
      bottom: 30px;
      right: 40px;
    }

    .purple {
      position: absolute;
      width: 150px;
      height: 150px;
      background-color: rgba(207, 130, 213, 0.6);
      border-radius: 50%;
      top: 125px;
      right: 50px;
    }



  .buttonbox {
    display: flex;
    height: 50px;
  }

    .btn2 {
      width: 150px;
      height: 50px;
      font-size: 20px;
      font-weight: normal;
      transition: color 0.8s;
    }

    .btn2:hover {
      color: #F9FAFC;
      background: rgba(247, 136, 167, 0.6);
      border: 1px rgba(247, 136, 167, 0.6);
      cursor: pointer;
    }
}
